@model ToDoList

<form method="post" asp-action="Edit" asp-controller="ToDo" enctype="multipart/form-data">
    <input type="hidden" asp-for="id" />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="DeadLine"></label>
        <input asp-for="DeadLine" type="datetime-local" class="form-control" />
        <span asp-validation-for="DeadLine" class="text-danger"></span>
    </div>

    <div class="my-3">
        <label>Upload New File (Leave empty to keep old one)</label>

        <input type="hidden" asp-for="File" />

        <div class="mb-3" id="imagePreviewContainer" style="display: @(string.IsNullOrEmpty(Model.File) ? "none" : "block")">
            <label>Current Image:</label>
            <br />
            <img id="imagePreview" src="~/Images/@Model.File" alt="Uploaded Image" width="150" height="150" />
        </div>

        <input type="file" name="file" class="form-control" id="fileInput" />
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Update" />
    </div>
</form>

<script>
    document.getElementById("fileInput").addEventListener("change", function (event) {
        var file = event.target.files[0]; 
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imagePreview = document.getElementById("imagePreview");
                var previewContainer = document.getElementById("imagePreviewContainer");

                imagePreview.src = e.target.result;
                previewContainer.style.display = "block"; 
            };
            reader.readAsDataURL(file); 
        }
    });
</script>
